.singlecourse .card {
  width: 80%;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.521);
  margin: auto;
}
.singlecourse .sec {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .singlecourse .card {
    width: 60%;
    margin-bottom: 30px;
  }
}
