.getKnow {
  margin: 180px 0;
  padding: 50px 0;
  background-image: url(../../../img/home/back2.png);
  background-size: covers;
  background-repeat: no-repeat;
}
.getKnow .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.getKnow img {
  width: 80%;
  margin: auto;
  display: block;
}
.getKnow h2 {
  margin-bottom: 20px;
  font-family: "Vujahday Script", cursive;
  font-weight: 900;
}
.getKnow h2 span {
  color: var(--maincolor);
}
.getKnow .content p {
  color: gray;
  width: 90%;
}
.getKnow .content a {
  color: white;
  background-color: var(--maincolor);
  padding: 10px 20px;
  margin-top: 20px;
  font-family: "Vujahday Script", cursive;
  font-weight: 900;
  display: inline-block;
  transition: all 0.3s linear;
  border-radius: 10px;
}
.getKnow .content a:hover {
  color: var(--maincolor) !important;
  font-weight: 500;
  border: 1px solid var(--maincolor);
  background-color: white;
}
@media (max-width: 992px) {
  .getKnow img {
    width: 60% !important ;
    margin: auto;
  }
  .getKnow .content {
    text-align: center;
    margin: 10px 0;
    color: rgb(58, 58, 58);
  }
  .getKnow h2 {
    margin-bottom: 10px;
  }
  .getKnow .content a {
    margin-top: 10px;
  }
  .getKnow {
    margin: 130px 0;
  }
  .getKnow .content p {
    margin: auto;
  }
}
