.knowus {
  margin: 100px 0;
}
.knowus p {
  color: grey;
  font-size: 15px;
}
.knowus h2 {
  margin-bottom: 20px;
}
.knowus img {
  width: 80%;
  margin: auto;
  display: inline-block;
}
.knowus .inner {
  display: flex;
  justify-content: center;
  align-self: center;
}
